@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    background-color: black;
    background-image: linear-gradient(purple, black);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.container{
    margin: 0 auto;
    padding: 0 1.5rem;
    justify-content: center;
}

h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Bangers';
    -webkit-text-stroke: 0.5px black;
}

h2 {
    font-size: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.col {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
  }

.col2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
  }

.col3 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
  }

#questions {
    font-size: 2em;
    border: 2px solid white;
    text-align: center;
    border-radius: 15px 15px;
    background-color: black;
}

.stats {
    background-color: black;
    color: white;
    min-height: 3em;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 15px 15px;
    width: 100%;
    margin: 2px
}

.buttons {
    border: 1px solid white;
}

.button {
    background-color: #C3C2C6;
    min-height: 6em;
    font-size: 1em;
    border: 1px solid white;
}

.answer {
    background-color: #C3C2C6;
    min-height: 6em;
    font-size: 1em;
    border: 1px solid white;
    width: 100%;
    border-radius: 15px 15px;
    margin: 2px;
}

.incorrectClass {
    background-color: red;
    color: white;
    min-height: 6em;
    font-size: 1em;
    border: 1px solid white;
}

.correctClass {
    background-color: green;
    color: white;
    min-height: 6em;
    font-size: 1em;
    border: 1px solid white;
}

#results {
    font-size: 2em;
    border: 2px solid white;
    border-radius: 15px 15px;
    text-align: center;
    background-color: black;
}

.correctResClass {
    font-size: 2em;
    color: green;
    border: 2px solid green;
    text-align: center;
}

.incorrectResClass {
    font-size: 2em;
    color: red;
    border: 2px solid red;
    text-align: center;
}

.score {
    background-color: black;
    color: white;
    min-height: 3em;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 15px 15px;
    width: 100%;
    margin: 2px;
}

.qNum {
    font-size: 1.5rem;
    display: flex;
    justify-content: start; 
    width: 50%;
}

.col4 {
    display: flex;
    justify-content: space-between;
  }

.sm-button {
    font-size: 2em;
    border: 2px solid white;
    text-align: center;
}
/* MODALS - - - - - - - - - - - - - - - - - - - - - - - - */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.3rem;
    position: absolute;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.044);
    border: 1px solid #ddd;
    border-radius: 15px;
    width: 20rem;
    height: 10rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    backdrop-filter: blur(8px);
    z-index: 2;
  }
  
  .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    position: absolute;
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }

  #modal-btn-gameOver {
    margin-bottom: 1.5rem;
  }

  .hidden {
    display: none;
  }

  #footer {
    font-size: 0.8rem;
    text-align: center;
  }

 /* MODALS - - - - - - - - - - - - - - - - - - - - - - - - */

  @media (min-width: 40rem) {
    .col {
      flex: 1;
    }
    .button { width: 50%; }
    .answer { width: 49%; }
    #answers {
        justify-content: center;
    }
    .stats { 
        width: 40%; 
        margin: 0 1em 0 1em;
    }
    .col2 {
        justify-content: center;
    }

    .score { 
        width: 40%; 
        margin: 0 1em 0 1em;
    }
    
    .container{
        padding-left: 2rem;
        padding-right: 2rem;
        width: 85%
    }
  }

  