h1 {
    font-size: 2em;  
}

.container{
    margin: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

body {
    text-align: center;
    background-color: black;
    color: white;
}
 
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.res-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.q-row {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    border: 2px solid white;
  }

.btn-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.sc-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.col {
    display: flex;
    padding: 1em;
    width: 100%;
    justify-content: center;
  }

.stats {
    background-color: black;
    color: white;
    min-height: 2em;
    font-size: 1em;
    border: 1px solid white;
}

.buttons {
    border: 1px solid white;
}

.button {
    background-color: #C3C2C6;
    min-height: 6em;
    font-size: 1em;
    border: 1px solid white;
}

.answer {
    background-color: #C3C2C6;
    min-height: 6em;
    font-size: 1em;
    border: 1px solid white;
    
}

.incorrectClass {
    background-color: red;
    color: white;
    min-height: 6em;
    font-size: 1em;
    border: 1px solid white;
}

.correctClass {
    background-color: green;
    color: white;
    min-height: 6em;
    font-size: 1em;
    border: 1px solid white;
}

.answers {
    border: 1px solid white;
}

#results {
    font-size: 2em;
    border: 2px solid white;
}

.correctResClass {
    font-size: 2em;
    color: green;
    border: 2px solid green;
}

.incorrectResClass {
    font-size: 2em;
    color: red;
    border: 2px solid red;
}

.score {
    font-size: 2em;
    border: 2px solid white;
}

.sm-button {
    font-size: 2em;
    border: 2px solid white;
}
  
  @media screen and (min-width: 600px) {

    .col {
      flex: 1;
    }
    .score { width: 25%; }
    #answer { width: 50%; }
    .answer { width: 50%; }
    .stats { width: 50%; }
  }